[submodule "u-boot"]
	path = u-boot
	url = https://github.com/Gateworks/uboot-newport.git
[submodule "bdk"]
	path = bdk
	url = https://github.com/Gateworks/bdk-newport.git
[submodule "dts"]
	path = dts
	url = https://github.com/Gateworks/dts-newport.git
[submodule "atf"]
	path = atf
	url = https://github.com/Gateworks/atf-newport.git
[submodule "linux"]
	path = linux
	url = https://github.com/Gateworks/linux-newport.git
